body {
  font-family: sans-serif;
  background-color: #8C9A9E;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo > a > img {
  animation: pulse 1s infinite;
}

.logo {
  max-height: 100px;
}

span {
  color:white;
  margin: 10px;
  font-style: oblique;
  font-size: 20px;
}

#gifs {
  display: flex;
  margin: 10px;
  min-width: 270px;
  min-height: 480px;
}

#gifs > img {
  margin: 10px;
  border: 2px solid white;
}

@keyframes pulse {
  0%, 100% {
    width: 600px;
  }
  50% {
    width: 590px;
  }
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
