body {
  font-family: sans-serif;
  background-color: #8C9A9E;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% {
    width: 600px;
  }
  50% {
    width: 590px;
  }
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
